.app {
  text-align: center;
  background-color: white;
  height: 100vh;

  .location {
    
    font-size: 150%;
  }

  .time {
    opacity: 0.5;
  }

  .weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      width: 10%;
    }
  }


  .info-box {

    width: 90%;
    height: 20vh;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    p {
      margin: 1vh;
    }
  }
}

.app--sunrise {
  background-image: linear-gradient( rgb(255, 136, 0), rgb(255, 217, 0));
}

.app--sunset {
  background-image: linear-gradient( rgb(152, 1, 179), #c350f8);
}

.app--morning {
  // background-color: rgb(49, 172, 243);
  background-image: linear-gradient( rgb(49, 172, 243), rgb(155, 209, 241));
}

.app--evening {
  background-image: linear-gradient( rgb(94, 0, 182), rgb(158, 58, 251));
}

.app--night {
  color: white;
  background-image: linear-gradient( rgb(39, 0, 58), rgb(74, 1, 110));
}