.app {
  text-align: center;
  background-color: white;
  height: 100vh;

  .location {
    
    font-size: 150%;
  }

  .time {
    opacity: 0.5;
  }

  .weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      width: 10%;
    }
  }


  .info-box {

    width: 90%;
    height: 20vh;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    p {
      margin: 1vh;
    }
  }
}

.app--sunrise {
  background-color: rgb(255, 136, 0);
}

.app--sunset {
  background-color: rgb(174, 0, 255);
}

.app--morning {
  background-color: rgb(49, 172, 243);
}

.app--evening {
  background-color: rgb(94, 0, 182);
}

.app--night {
  color: white;
  background-color: rgb(39, 0, 58);
}